* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header {
  font-size: 13px;
}
#header .heading {
  background-color: #f8f8f8;
}
#header .heading .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 1200px;
  margin: auto;
}
#header .heading .title .left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .heading .title .left img {
  padding: 10px 0px;
  margin-right: 4px;
}
#header .heading .title .left span {
  padding: 10px 0px;
}
#header .heading .title .left .text-color {
  color: #5aa5c3;
  font-weight: bold;
  margin-left: 4px;
}
#header .heading .title .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  margin-left: 65px;
}
#header .heading .title .right .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
}
#header .heading .title .right .registration img {
  padding: 10px 0px;
  margin-right: 4px;
}
#header .heading .title .right .registration span {
  padding: 10px 0px;
}
#header .heading .title .right .space {
  padding: 10px 18px;
  color: #ccc;
}
#header .heading .title .right .coll-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 5px;
  margin-left: 6px;
}
#header .sub-heading .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 1200px;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#header .sub-heading .container .title {
  width: 12%;
  height: 50px;
  line-height: 50px;
  padding: 25px 0px;
}
#header .sub-heading .container .title P {
  font-size: 18px;
  color: #1685bc;
  font-weight: bold;
}
#header .sub-heading .container .classify-seach {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding: 25px 0px;
}
#header .sub-heading .container .classify-seach .classify {
  width: 30%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  line-height: 50px;
  position: relative;
}
#header .sub-heading .container .classify-seach .classify:hover .sub-menu {
  display: block;
}
#header .sub-heading .container .classify-seach .classify p {
  width: 80%;
  font-size: 15px;
  margin-left: 15px;
}
#header .sub-heading .container .classify-seach .classify .fas {
  width: 10%;
  line-height: 48px;
  margin-left: 30px;
}
#header .sub-heading .container .classify-seach .classify .sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  width: 222px;
  height: 205px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#header .sub-heading .container .classify-seach .classify .sub-menu ul {
  list-style: none;
  display: block;
}
#header .sub-heading .container .classify-seach .classify .sub-menu ul a {
  text-decoration: none;
  color: #000;
  border-top: 1px dashed #ececec;
  display: block;
  height: 40px;
}
#header .sub-heading .container .classify-seach .classify .sub-menu ul a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
}
#header .sub-heading .container .classify-seach .classify .sub-menu ul a:hover {
  color: #479bd7;
  background-color: #f8f8f8;
}
#header .sub-heading .container .classify-seach .search-icon {
  position: relative;
  width: 60%;
}
#header .sub-heading .container .classify-seach .search-icon .search {
  width: 100%;
  height: 48px;
  border: 1px solid #f8f8f8;
}
#header .sub-heading .container .classify-seach .search-icon .icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
#header .sub-heading .container .notification {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px;
}
#header .sub-heading .container .notification a {
  text-decoration: none;
  color: #000;
}
#header .sub-heading .container .notification a img {
  height: 50px;
  margin-left: 25px;
}
#header .sub-heading .container .notification a .img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
#header .sub-heading .container .notification a .img-text .text {
  line-height: 50px;
}
#header .sub-heading .container .logo {
  display: none;
}
#header .sub-heading .container .infor {
  float: right;
  width: 17%;
}
#header .sub-heading .container .infor .gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .sub-heading .container .infor .gmail p {
  font-weight: bold;
  font-size: 16px;
}
#header .sub-heading .container .infor .gmail .fas {
  margin-left: 5px;
}
#header .sub-heading .container .infor .text-number {
  padding: 2px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin-left: 75px;*/
}
#header .sub-heading .container .infor .text-number .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}
#header .sub-heading .container .infor .text-number .one {
  color: #e82e31;
}
#header .sub-heading .container .infor .text-number .two {
  color: #1691b3;
}
#header .sub-heading .container .infor .text-number .three {
  color: #f7c25c;
}
#header .sub-heading .container .infor .first {
  margin-left: 72px;
}
#header .sub-heading .container .infor .second {
  margin-left: 83px;
}
#header .sub-heading .container .infor .thirt {
  margin-left: 110px;
}

#navication {
  background-color: #1786be;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#navication .menu {
  width: 1200px;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#navication .menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: 300;
  text-align: center;
}
#navication .menu a:hover {
  background-color: #177fb2;
}
#navication .menu .home {
  font-weight: 300;
  width: 133px;
  height: 60px;
  color: #fff;
  background-color: #177fb2;
  text-align: center;
}
#navication .menu .home img {
  margin-top: 8px;
  margin-bottom: -8px;
}
#navication .menu .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 60px;
  padding: 0 32px;
  color: #fff;
  font-weight: 300;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
#navication .menu .category i {
  line-height: 60px;
  font-weight: 2px;
}
#navication .menu .category p {
  margin-left: 10px;
}
#navication .menu .category:hover {
  color: #a0d3ee;
}
#navication .menu .general {
  font-weight: 300;
  padding: 0 20px;
  line-height: 60px;
  color: #fff;
}
#navication .menu .general:hover {
  color: #a0d3ee;
}
#navication .menu-small {
  display: none;
}
#navication .nav-bar {
  display: none;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: auto;
}
#content .left {
  width: 70%;
  margin: 50px 0px;
  margin-right: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#content .left .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #f1f5f8;
}
#content .left .heading .category {
  text-align: center;
  width: 33.333%;
}
#content .left .heading .category a {
  text-decoration: none;
  color: #000;
  line-height: 50px;
  font-size: 15px;
}
#content .left .heading .category:hover {
  background-color: #fff;
  font-weight: bold;
}
#content .left .heading .category:hover a {
  font-size: 14px;
}
#content .left .heading .other {
  background-color: #fff;
}
#content .left .heading .other a {
  color: #000;
  font-weight: bold;
}
#content .left .content-list {
  padding: 10px 20px;
}
#content .left .content-list .list a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
#content .left .content-list .list a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
#content .left .content-list .list a li img {
  height: 25px;
}
#content .left .content-list .list a li p {
  overflow: hidden;
  /* combo thuoc tinh de gioi han text hien thi */
  white-space: nowrap;
  max-width: 695px;
  text-overflow: ellipsis;
}
#content .left .content-list .list a .boder {
  border-top: 1px dashed #ececec;
}
#content .left .content-list .list a:hover {
  color: #177fb2;
}
#content .right {
  width: 30%;
  margin: 50px 0px;
  overflow-x: auto;
}
#content .right .content-section .img-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
  padding: 20px 0px;
}
#content .right .content-section .img-text a p {
  margin-left: 20px;
  font-size: 15px;
  display: -webkit-box;
  /* combo thuoc tinh cho phep doan text duoc hien thi bao nhie dong*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
#content .right .content-section .img-text a:hover {
  color: #177fb2;
}
#content .right .content-section .border-first {
  border-top: 1px solid #ececec;
  margin-top: 25px;
  padding-top: 13px;
}
#content .right .content-section .border {
  border-top: 1px solid #ececec;
}
#content .right .content-section .text {
  background-color: #fff;
  width: 160px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

#document-list {
  width: 1200px;
  margin: auto;
}
#document-list .title {
  height: 60px;
  background-color: #1786be;
  line-height: 60px;
  color: #fff;
  margin-bottom: 40px;
}
#document-list .title h2 {
  font-weight: 400;
  font-size: 20px;
  padding-left: 25px;
}
#document-list .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
#document-list .row a {
  text-decoration: none;
  color: #000;
}
#document-list .row .coll {
  width: 23%;
  height: 426px;
  overflow-x: auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#document-list .row .coll .img img {
  width: 100%;
  height: 167px;
}
#document-list .row .coll .text {
  padding: 0 12px;
}
#document-list .row .coll .text .heading p {
  font-weight: bold;
  display: block;
  padding: 10px 0;
  font-size: 14px;
  margin-left: 6px;
  overflow: hidden;
  /* combo thuoc tinh de gioi han text hien thi */
  white-space: nowrap;
  max-width: 248px;
  text-overflow: ellipsis;
}
#document-list .row .coll .text .infor .img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}
#document-list .row .coll .text .infor .img-text p {
  display: block;
  margin-left: 8px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}
#document-list .row .coll .text .infor .img-text .color-number {
  color: #df3f29;
  font-weight: bold;
}
#document-list .row .coll .buy {
  width: 92px;
  height: 26px;
  background-color: #f0b006;
  margin: auto;
  margin-top: 20px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
#document-list .row .coll .buy a {
  text-decoration: none;
}
#document-list .row .coll .buy a p {
  color: #fff;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
}
#document-list .row .coll .buy:hover {
  background-color: #ccc;
}
#document-list .row .coll .buy:hover p {
  color: #000;
}
#document-list .row .left {
  margin-left: -16px;
}

#infor-warning {
  background-color: #f8f8f8;
  padding: 50px 0;
}
#infor-warning .icon-text {
  width: 1200px;
  margin: auto;
  text-align: justify;
}
#infor-warning .icon-text .color {
  color: #fb4015;
}
#infor-warning .icon-text .gray-text {
  color: #000;
  opacity: 0.8;
  font-size: 15px;
}

#footer {
  background-color: #1786be;
  color: #fff;
}
#footer .content {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  font-size: 14px;
  padding: 45px 0;
}
#footer .content .left {
  text-align: justify;
  width: 30%;
}
#footer .content .left h4 {
  margin-bottom: 20px;
}
#footer .content .left p {
  margin: 10px 0;
}
#footer .content .left .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  width: 200px;
}
#footer .content .left .login .sign-in a {
  text-decoration: none;
  color: #fff;
}
#footer .content .left .login .sign-in:hover a {
  color: #a59e9e;
}
#footer .content .left .login .sign_in {
  margin-left: 20px;
  border-left: 1px solid #fff;
  padding-left: 20px;
}
#footer .content .left .login .sign_in a {
  text-decoration: none;
  color: #fff;
}
#footer .content .left .login .sign_in a i {
  margin-left: 3px;
}
#footer .content .left .login .sign_in:hover a {
  color: #a59e9e;
}
#footer .content .between {
  width: 50%;
  margin-left: 60px;
}
#footer .content .between .heading {
  margin-left: 8px;
}
#footer .content .between .sub-heading {
  margin-left: 8px;
  padding: 20px 0;
  font-size: 14px;
}
#footer .content .between .img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
}
#footer .content .between .img-text img {
  width: 38px;
  height: 25px;
}
#footer .content .between .img-text p {
  padding: 2px 0;
}
#footer .content .right {
  margin-top: 40px;
  width: 20%;
  text-align: justify;
}
#footer .content .right p {
  margin-left: 56px;
}
#footer .content .right img {
  margin-top: 15px;
  margin-left: 62px;
}

#sub-footer .container {
  width: 1200px;
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sub-footer .container .copyright {
  width: 70%;
  line-height: 80px;
}
#sub-footer .container .copyright p {
  color: #6d6d6d;
  font-size: 16px;
}
#sub-footer .container .social {
  width: 30%;
  line-height: 80px;
}
#sub-footer .container .social a {
  float: right;
  color: #ccc;
  font-size: 18px;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  #header {
    width: 100%;
    height: 200px;
  }
  #header .heading {
    height: 45px;
    margin: auto;
    width: 100%;
  }
  #header .heading .title {
    padding: 3px 0;
    margin: auto;
    width: 100%;
    max-width: 784px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .heading .title .left {
    width: 50%;
    margin-left: 84px;
  }
  #header .heading .title .right {
    width: 50%;
    margin-left: 139px;
  }
  #header .heading .title .right .registration {
    display: none;
  }
  #header .heading .title .right .space {
    display: none;
  }
  #header .heading .title .right .coll-load .load {
    margin-left: 10px;
  }
  #header .sub-heading .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .sub-heading .container .title {
    width: 15%;
    margin-left: 40px;
  }
  #header .sub-heading .container .notification {
    padding: 0px 0px;
    margin-left: 0px;
  }
  #header .sub-heading .container .notification a img {
    margin-left: 0px;
  }
  #header .sub-heading .container .notification .img-text p {
    display: none;
  }
  #header .sub-heading .container .classify-seach {
    width: 65%;
    margin-left: 84px;
  }
  #header .sub-heading .container .classify-seach .classify i {
    margin-right: 5px;
  }
  #header .sub-heading .container .logo {
    display: block;
    margin-left: 180px;
  }
  #header .sub-heading .container .infor {
    display: none;
  }

  #navication {
    display: none;
  }

  #content {
    display: block;
    margin-top: 40px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  #content .left {
    width: 90%;
    margin: auto;
  }
  #content .left .heading .category a {
    color: #479bd7;
  }
  #content .left .heading .other a {
    color: #000;
    font-weight: inherit;
  }
  #content .left .content-list .list p {
    color: #479bd7;
  }
  #content .right {
    width: 90%;
    margin: 40px auto;
  }
  #content .right .content-section .img-text a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #content .right .content-section .img-text a p {
    color: #479bd7;
  }
  #content .right .content-section .border-first {
    padding-top: 20px;
  }

  #document-list {
    width: 90%;
    margin: auto;
  }
  #document-list .title {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
  #document-list .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  #document-list .row .coll {
    margin-bottom: 40px;
    width: 40%;
    max-width: 300px;
  }
  #document-list .row .left {
    margin-left: -20px;
  }
  #document-list .row .right {
    margin-right: 36px;
  }
  #document-list .row .center {
    margin-left: 18px;
  }

  #infor-warning .icon-text {
    width: 100%;
    max-width: 700px;
  }

  #footer .content {
    height: 670px;
    display: block;
    width: 90%;
    padding: 45px 10px;
  }
  #footer .content .left {
    width: 100%;
    margin-left: 0px;
  }
  #footer .content .between {
    width: 100%;
    margin-left: 0px;
  }
  #footer .content .right {
    width: 100%;
  }
  #footer .content .right p {
    margin-left: 0px;
  }
  #footer .content .right img {
    margin-left: 0px;
  }

  #sub-footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    max-width: 760px;
  }
  #sub-footer .container .copyright {
    height: 46px;
    width: 100%;
  }
  #sub-footer .container .social {
    width: 100%;
    margin-right: 40px;
  }
}
@media (max-width: 1240px) {
  #navication {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 30px;
  }
  #navication .menu {
    display: none;
  }
  #navication .nav-bar {
    display: block;
    font-size: 30px;
    line-height: 60px;
    width: 90%;
    margin: auto;
    color: #fff;
  }
  #navication .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  #navication #nav-input:checked ~ .nav-overlay {
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #navication #nav-input:checked ~ .menu-small {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #navication .menu-small {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    list-style: none;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  #navication .menu-small a {
    text-decoration: none;
    height: 50px;
    display: block;
    font-size: 17px;
    color: #000;
    padding: 0 10px;
  }
  #navication .menu-small a .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 50px;
  }
  #navication .menu-small a .home .fas {
    line-height: 50px;
    margin-right: 10px;
  }
  #navication .menu-small a .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 50px;
  }
  #navication .menu-small a .category .fas {
    line-height: 50px;
    margin-right: 10px;
  }
  #navication .menu-small .nav-close {
    font-size: 30px;
    margin-left: 10px;
  }

  #infor-warning .icon-text .gray-text {
    opacity: 1;
  }
}
/* Mobile */
@media (max-width: 740px) {
  #header {
    width: 100%;
    height: 200px;
  }
  #header .heading {
    height: 45px;
    margin: auto;
    width: 100%;
  }
  #header .heading .title {
    padding: 3px 0;
    margin: auto;
    max-width: 414px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .heading .title .left {
    width: 50%;
    margin-left: 20px;
  }
  #header .heading .title .left span {
    font-size: 12px;
  }
  #header .heading .title .right {
    width: 50%;
    margin-left: 44px;
  }
  #header .heading .title .right .registration {
    display: none;
  }
  #header .heading .title .right .space {
    display: none;
  }
  #header .heading .title .right .coll-load {
    margin-left: -23px;
    padding-top: 11px;
  }
  #header .heading .title .right .coll-load .coll img {
    width: 70px;
    height: 20px;
  }
  #header .heading .title .right .coll-load .load {
    margin-left: 10px;
  }
  #header .heading .title .right .coll-load .load img {
    width: 70px;
    height: 20px;
  }
  #header .sub-heading .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .sub-heading .container .title {
    width: 100%;
    margin-left: 40px;
  }
  #header .sub-heading .container .title p {
    font-size: 16px;
    display: block;
    margin-left: 30px;
  }
  #header .sub-heading .container .notification {
    padding: 0px 0px;
    margin-left: 0px;
    overflow: visible;
    width: 40%;
    margin-left: 18px;
  }
  #header .sub-heading .container .notification a img {
    margin-left: 0px;
  }
  #header .sub-heading .container .notification .img-text p {
    display: none;
  }
  #header .sub-heading .container .classify-seach {
    width: 82%;
    margin-left: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #header .sub-heading .container .classify-seach .classify {
    width: 100%;
  }
  #header .sub-heading .container .classify-seach .classify p {
    font-size: 13px;
  }
  #header .sub-heading .container .classify-seach .classify .fas {
    margin-left: 210px;
  }
  #header .sub-heading .container .classify-seach .search-icon {
    width: 100%;
  }
  #header .sub-heading .container .logo {
    width: 45%;
    display: block;
    margin-left: 0px;
  }
  #header .sub-heading .container .logo a img {
    width: 147px;
    height: 38px;
  }
  #header .sub-heading .container .infor {
    display: none;
  }

  #navication {
    margin-top: 140px;
  }
  #navication .nav-bar {
    width: 86%;
  }

  #content {
    display: block;
    margin-top: 60px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  #content .left {
    width: 86%;
    margin: auto;
  }
  #content .left .heading {
    margin-bottom: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #content .left .heading .category {
    width: 100%;
    background-color: #f8f8f8;
  }
  #content .left .heading .category a {
    font-size: 14px;
    color: #479bd7;
  }
  #content .left .heading .other {
    background-color: #fff;
  }
  #content .left .heading .other a {
    color: #000;
    font-weight: inherit;
  }
  #content .left .content-list .list a {
    font-size: 14px;
  }
  #content .left .content-list .list p {
    color: #479bd7;
  }
  #content .right {
    width: 86%;
    margin: 40px auto;
  }
  #content .right .content-section .img-text a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #content .right .content-section .img-text a p {
    color: #479bd7;
    font-size: 14px;
  }
  #content .right .content-section .text {
    left: 92px;
  }
  #content .right .content-section .border-first {
    padding-top: 20px;
  }

  #document-list {
    width: 90%;
    margin: auto;
  }
  #document-list .title {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
  #document-list .title h2 {
    font-size: 15px;
    padding-left: 0;
    text-align: center;
  }
  #document-list .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 0px;
  }
  #document-list .row .coll {
    width: 85%;
    max-width: 300px;
    margin: auto;
  }
  #document-list .row .left {
    margin-bottom: 35px;
  }
  #document-list .row .center {
    margin-bottom: 35px;
  }
  #document-list .row .right {
    margin-bottom: 35px;
  }

  #infor-warning .icon-text {
    width: 100%;
    padding: 0 20px;
  }
  #infor-warning .icon-text span {
    font-size: 13px;
  }
  #infor-warning .icon-text .gray-text {
    font-size: 13px;
  }

  #footer .content {
    height: 725px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 12px;
    width: 100%;
  }
  #footer .content .left {
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  #footer .content .between {
    width: 100%;
    padding: 0 20px;
    margin-left: 0;
  }
  #footer .content .right {
    width: 100%;
    max-width: 440px;
    padding: 0 20px;
  }
  #footer .content .right p {
    margin-left: 36px;
  }
  #footer .content .right img {
    margin-left: 36px;
  }

  #sub-footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 760px;
  }
  #sub-footer .container .copyright {
    height: 46px;
    width: 100%;
    margin-left: 10px;
  }
  #sub-footer .container .copyright p {
    font-size: 12px;
  }
  #sub-footer .container .social {
    width: 100%;
    margin-right: 30px;
  }
  #sub-footer .container .social img {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 1023px) and (max-width: 1240px) {
  #header .heading {
    width: 100%;
  }
  #header .heading .title {
    width: 90%;
  }
  #header .heading .title .right {
    width: 100%;
    margin-left: 0;
  }
  #header .sub-heading .container {
    width: 90%;
  }
  #header .sub-heading .container .infor {
    display: none;
  }
  #header .sub-heading .container .notification .img-text {
    width: 120px;
  }
  #header .sub-heading .container .classify-seach .classify {
    width: 50%;
  }

  #navication {
    display: block;
  }

  #content {
    width: 90%;
  }
  #content .left {
    width: 60%;
  }
  #content .right {
    width: 40%;
  }

  #document-list {
    width: 100%;
  }
  #document-list .title {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
  #document-list .row {
    width: 90%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  #document-list .row .left {
    margin-left: -12px;
  }

  #infor-warning .icon-text {
    width: 90%;
  }

  #footer .content {
    width: 90%;
    padding: 16px 0;
  }
  #footer .content .right img {
    margin-left: 40px;
  }

  #sub-footer .container {
    width: 90%;
  }
}