*{
    margin:0px;
    padding:0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#header{
    font-size:13px;
    .heading{
        background-color:#f8f8f8;
        .title{
            display: flex;
            height: 40px;
            width: 1200px;
            margin: auto;
            .left{
                width: 45%;
                display: flex;
                img{
                    padding: 10px 0px;
                    margin-right: 4px;
                }
                span{
                    padding: 10px 0px;
                }
                .text-color{
                    color:rgb(90, 165, 195);
                    font-weight: bold;
                    margin-left: 4px;
                }
            }
            .right{
                display: flex;
                width: 55%;
                margin-left: 65px;
                .registration{
                    display: flex;
                    width: 55%;
                    img{
                        padding: 10px 0px;
                        margin-right: 4px;
                    }
                    span{
                        padding: 10px 0px;
                    }
                }
                .space{
                    padding: 10px 18px;
                    color: #ccc;
                }
                .coll-load{
                    display: flex;
                    padding: 8px 5px;
                    margin-left: 6px;
                }
            }
        }
    }
    .sub-heading{
        .container{
            display: flex;
            height: 100px;
            width: 1200px;
            margin: auto;
            justify-content: space-evenly;
            .title{
                width: 12%;
                height: 50px;
                line-height: 50px;
                padding: 25px 0px;
                P{
                    font-size: 18px;
                    color:#1685bc;
                    font-weight: bold;
                }
            }
            .classify-seach{
                width: 45%;
                display: flex;
                margin-left: 0px;
                padding: 25px 0px;
                .classify{
                    width: 30%;
                    height: 50px;
                    display: flex;
                    background-color: #f8f8f8;
                    line-height: 50px;
                    position: relative;
                    &:hover .sub-menu{
                        display: block;
                    }
                    p{
                        font-size: 15px;
                        margin-left: 15px;
                    }
                    .fas{
                        line-height: 48px;
                        margin-left: 35px;
                    }
                   .sub-menu{
                       display: none;
                        position:absolute;
                        top: 50px;
                        width: 222px;
                        height: 205px;
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                        transition: 0.4s;
                        ul{
                            list-style: none;
                            display: block;
                            a{
                                text-decoration: none;
                                color: #000;
                                border-top: 1px dashed #ececec;
                                display: block;
                                height: 40px;
                                li{
                                    display: flex;
                                    justify-content: space-between;
                                    padding-right:15px;
                                }
                                &:hover{
                                    color: #479bd7;
                                    background-color: #f8f8f8;
                                }
                            }
                        }
                    }
                }
                .search-icon{
                    position: relative;
                    width: 60%;
                    .search{
                        width: 100%;
                        height: 48px;
                        border: 1px solid #f8f8f8;
                    }
                    .icon{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }
                }
            }
            .notification{
                width: 24%;
                display: flex;
                padding: 25px 0px;
                a{
                    text-decoration: none;
                    color: #000;
                    img{
                        height: 50px;
                        margin-left: 25px;
                    }
                    .img-text{
                        display: flex;
                        height: 50px;
                        .text{
                            line-height:50px;
                        }
                    }
                }
                
            }
            .logo{
                display: none;
            }
            .infor{
                float: right;
                width: 17%;
                .gmail{
                    display: flex;
                    p{
                        font-weight: bold;
                        font-size: 16px;
                    }
                    .fas{
                        margin-left: 5px;
                    }
                }
                .text-number{
                    padding: 2px 0px;
                    display: flex;
                    /*margin-left: 75px;*/
                    .number{
                        display: flex;
                        font-weight: bold;
                    }
                    .one{
                        color:#e82e31;
                        
                    }
                    .two{
                        color:#1691b3;
                    }
                    .three{
                        color:#f7c25c;
                    }
                }
                .first{
                    margin-left: 72px;
                }
                .second{
                    margin-left: 83px;
                }
                .thirt{
                    margin-left: 110px;
                }
            }
        }
    }
}
#navication{
    background-color: #1786be;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    .menu{
        width: 1200px;
        height: 60px;
        margin: auto;
        display: flex;
        list-style: none;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: #fff;
            display: block;
            font-weight: 300;
            text-align: center;
            &:hover{
                background-color: #177fb2;
            }
        }

        .home{
            font-weight: 300;
            width: 133px;
            height: 60px;
            color:#fff;
            background-color: #177fb2;
            text-align: center;
            img{
                margin-top: 8px;
                margin-bottom: -8px;
            }
        }
        .category{
            display: flex;
            line-height: 60px;
            padding:0 32px;
            color: #fff;
            font-weight: 300;
            transition: 0.8s;
            i{
                line-height: 60px;
                font-weight: 2px;
            }
            p{
                margin-left: 10px;
            }
            &:hover{
                color: #a0d3ee;
            }
        }
        .general{
            font-weight: 300;
            padding:0 20px;
            line-height: 60px;
            color: #fff;
            &:hover{
                color: #a0d3ee;
            }
        }
    }
}

#content{
    display: flex;
    width: 1200px;
    margin: auto;
    .left{
        width: 70%;
        margin: 50px 0px;
        margin-right: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        .heading{
            display: flex;
            height: 50px;
            background-color: #f1f5f8;
            .category{
                text-align: center;
                width: 33.333%;
                a{
                    text-decoration: none;
                    color: #000;
                    line-height: 50px;
                    font-size: 15px;
                }
                &:hover{
                    background-color: #fff;
                    font-weight: bold;
                    a{
                        font-size: 14px;
                    }
                }
            }
            .other{
                background-color: #fff;
                a{
                    color: #000;
                    font-weight: bold;
                }
            }
        }
        .content-list{
            padding: 10px 20px;
            .list{
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 15px;
                    li{
                        display: flex;
                        padding: 10px;
                        img{
                            height: 25px;
                        }
                        p{
                            overflow: hidden; /* combo thuoc tinh de gioi han text hien thi */
                            white-space: nowrap;
                            max-width: 695px;
                            text-overflow: ellipsis;
                        }
                    }
                    .boder{
                        border-top: 1px dashed #ececec;
                    }
                    &:hover{
                        color: #177fb2;
                    }
                }
            }
        }
    }
    .right{
        width: 30%;
        margin: 50px 0px;
        position: relative;
        overflow-x: auto;
        .content-section{
            .img-text{      
                a{
                    display: flex;
                    text-decoration: none;
                    color: #000;
                    padding: 20px 0px;
                    p{
                        margin-left: 20px;
                        font-size: 15px;
                        display: -webkit-box; /* combo thuoc tinh cho phep doan text duoc hien thi bao nhie dong*/
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;  
                        overflow: hidden;
                    }
                    &:hover{
                        color: #177fb2;
                    }
                }
            }
            .border-first{
                border-top: 1px solid #ececec;
                margin-top: 25px;
                padding-top: 13px;
            }
            .border{
                border-top: 1px solid #ececec;
            }
            .text{
                position: absolute;
                top: 14px;
                left: 128px;
                background-color: #fff;
                width: 160px;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
#document-list{
    width: 1200px;
    margin: auto;
    .title{
        height: 60px;
        background-color: #1786be;
        line-height: 60px;
        color: #fff;
        margin-bottom: 40px;
        h2{
            font-weight: 400;
            font-size: 20px;
            padding-left: 25px;
        }
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        a{
            text-decoration: none;
            color: #000;
        }
        .coll{
            width: 23%;
            height: 426px;
            overflow-x: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            .img{
                img{
                    width: 100%;
                    height: 167px;
                }
            }
            .text{
                padding: 0 12px;
                .heading{
                    p{
                        font-weight: bold;
                        display: block;
                        padding: 10px 0;
                        font-size: 14px;
                        margin-left: 6px;
                        overflow: hidden; /* combo thuoc tinh de gioi han text hien thi */
                        white-space: nowrap;
                        max-width: 248px;
                        text-overflow: ellipsis;
                    }
                }
                .infor{
                    .img-text{
                        display: flex;
                        padding: 5px 0;
                        p{
                            display: block;
                            margin-left: 8px;
                            font-size: 14px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: 200px;
                        }
                        .color-number{
                            color: #df3f29;
                            font-weight: bold;
                        }
                    }

                }
            }
            .buy{
                width: 92px;
                height: 26px;
                background-color: #f0b006;
                margin: auto;
                margin-top: 20px;
                border-bottom-right-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom-left-radius: 12px;
                border-top-left-radius: 12px;
                a{
                    text-decoration: none;
                    p{
                        color: #fff;
                        line-height: 26px;
                        text-align: center;
                        font-size: 14px;
                    }
                }
                &:hover {
                    background-color: #ccc;
                    p{
                        color: #000;
                    }
                }
            }
        }
        // .center{
        //     margin: 0 15px;
        // }
        // .left{
        //     margin-right: 15px;
        // }
        // .right{
        //     margin-left: 15px;
        // }
    }
}
#infor-warning{
    background-color: #f8f8f8;
    padding: 50px 0;
    .icon-text{
        width: 1200px;
        margin: auto;
        text-align: justify;
        .color{
            color: #fb4015;
        }
        .gray-text{
            color: #000;
            opacity: 0.8;
            font-size: 15px;
        }
    }
}

#footer{
    background-color:#1786be;
    color: #fff;
    .content{
        width: 1200px;
        margin: auto;
        display: flex;
        height: 350px;
        font-size: 14px;
        padding: 45px 0;
        .left{
            text-align: justify;
            width: 30%;
            h4{
                margin-bottom: 20px;
            }
            p{
                margin: 10px 0;
            }
            .login{
                display: flex;
                margin: 30px 0;
                width: 200px;
                .sign-in{
                    a{
                        text-decoration: none;
                        color: #fff;
                    } 
                    &:hover a{
                        color: rgb(165, 158, 158);
                    } 
                }
                .sign_in{
                    margin-left: 20px;
                    border-left: 1px solid #fff;
                    padding-left:20px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        i{
                            margin-left: 3px;
                        }
                    }
                    &:hover a{
                        color: rgb(165, 158, 158);
                    }
                }
            }
        }
        .between{
            width: 50%;
            margin-left: 60px;
            .heading{
                margin-left: 8px;
            }
            .sub-heading{
                margin-left: 8px;
                padding: 20px 0;
                font-size: 14px;
            }
            .img-text{
                display: flex;
                text-align: justify;
                img{
                    width: 38px;
                    height: 25px;
                }
                p{
                    padding: 2px 0;
                }
            }
        }
        .right{
            margin-top: 40px;
            width: 20%;
            text-align: justify;
            p{
                margin-left: 56px;
            }
            img{
                margin-top: 15px;
                margin-left: 62px;
            }
        }
    }
}

#sub-footer{
    .container{
        width: 1200px;
        height: 80px;
        margin: auto;
        display: flex;
        .copyright{
            width: 70%;
            line-height: 80px;
            p{
                color: #6d6d6d;
                font-size: 16px;
            }
        }
        .social{
            width: 30%;
            line-height: 80px;
            a{
                float: right;
                color: #ccc;
                font-size: 18px;
            }
        }
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px){
    #header{
        width:100%;
        max-width: 1024px;
        height: 200px;
        .heading{
            height: 45px;
            margin: auto;
            width: 100%;
            .title{
                padding: 3px 0;
                margin: auto;
                width: 784px;
                justify-content:space-between;
                .left{
                    width: 25%;
                    margin-left: 78px;
                }
                .right{
                    width: 20%;
                    .registration{
                        display: none;
                    }
                    .space{
                        display: none;
                    }
                    .coll-load{
                        margin-left: -120px;
                        .load{
                            margin-left:10px;
                        }
                    }
                }
            }
        }
        .sub-heading{
            .container{
                flex-wrap: wrap;
                width:100%;
                max-width: 700px;
                margin: auto;
                justify-content: center;
                .title{
                    width: 15%;
                    margin-left: 40px;
                    
                }
                .notification{
                    padding: 0px 0px;
                    margin-left: 0px;
                    overflow: visible;
                    
                    a{
                        img{
                            margin-left: 0px;
                        }
                    }
                    .img-text{
                        p{
                            display: none;
                        }
                    }
                }
                .classify-seach{
                    width: 65%;
                    margin-left: 50px;
                    .search-icon{
                        .search{
                            
                        }
                    }
                }
                .logo{
                    display: block;
                    margin-left: 100px;
                }
                .infor{
                    display: none;
                }
            }
        }
    }   
    #navication{
        display: none;
    }

    #content{
        display:block;
        margin-top: 40px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        .left{
            width: 80%;
            margin: auto;
            .heading{
                .category{
                    a{
                        color: #479bd7;
                    }
                }
                .other{
                    a{
                        color: #000;
                        font-weight: inherit;
                    }
                }
            }
            .content-list{
                .list{
                    p{
                        color: #479bd7;
                        
                    }
                }
            }
        }
        .right{
            width: 30%;
            width: 650px;
            margin: 40px auto;
            .content-section{
                .img-text{
                    a{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        p{
                            color: #479bd7;

                        }
                    }
                }
                .text{
                    left: 250px;
                }
                .border-first{
                    padding-top: 20px
                }
            }
        }
    }

    #document-list{
        width: 650px;
        margin: auto;
        .title{
            width: 95%;
            margin: auto;
            margin-bottom: 40px;
        }
        .row{
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-left: 0px;
            margin-bottom: 0px;
            width: 100%;
            .coll{
                margin-bottom: 40px;
                width: 46%;
            }
        }
    }
    #infor-warning{
        .icon-text{
            width: 720px;
        }
    }
    #footer{
        .content{
            height: 725px;
            display: block;
            .left{
                margin-left: 40px;
            }
            .between{
                margin-left: 40px;
            }
            .right{
                img{
                    margin-left: 45px;;
                }
            }
        }
    }
    #sub-footer{
        .container{
            flex-wrap: wrap;
            width:100%;
            max-width: 760px;
            .copyright{
                height: 46px;
                width: 100%;
            }
            .social{
                width: 100%;
            }
        }
    }
}

/* Mobile */
@media (max-width: 740px){
    #header{
        width:100%;
        max-width: 590px;
        height: 200px;
        .heading{
            height: 45px;
            margin: auto;
            width: 100%;
            .title{
                padding: 3px 0;
                margin: auto;
                width: 784px;
                justify-content:space-between;
                .left{
                    width: 25%;
                    margin-left: 20px;
                    span{
                        font-size: 12px;
                    }
                }
                .right{
                    width: 70%;
                    .registration{
                        display: none;
                    }
                    .space{
                        display: none;
                    }
                    .coll-load{
                        margin-left: -65px;
                        padding-top: 11px;
                        .coll{
                            img{
                                width: 70px;
                                height: 20px;
                            }
                        }
                        .load{
                            margin-left:10px;
                            img{
                                width: 70px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
        .sub-heading{
            .container{
                flex-wrap: wrap;
                width:100%;
                max-width: 700px;
                margin: auto;
                justify-content: center;
                .title{
                    width: 100%;
                    margin-left: 40px;
                    p{
                        font-size: 16px;
                    }
                }
                .notification{
                    padding: 0px 0px;
                    margin-left: 0px;
                    overflow: visible;
                    width: 44%;
                    margin-left: -45px;
                    a{
                        img{
                            margin-left: 0px;
                        }
                    }
                    .img-text{
                        p{
                            display: none;
                        }
                    }
                }
                .classify-seach{
                    width: 82%;
                    margin-left: 0px;
                    flex-wrap: wrap;
                    .classify{
                        width: 100%;
                        p{
                            font-size: 14px;
                        }
                        .fas{
                            margin-left: 200px;
                        }
                    }
                    .search-icon{
                        width: 100%;
                        .search{
                            
                        }
                    }
                }
                .logo{
                    width: 30%;
                    display: block;
                    margin-left: 0px;
                    a{
                        img{
                            width: 147px;
                            height: 38px;
                        }
                    }
                }
                .infor{
                    display: none;
                }
            }
        }
    }   
    #navication{
        display: none;
    }

    #content{
        display:block;
        margin-top: 135px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        .left{
            width: 80%;
            margin: auto;
            .heading{
                margin-bottom: 90px;
                flex-direction: column;
                .category{
                    width: 100%;
                    background-color: #f8f8f8;
                    a{
                        font-size: 14px;
                        color: #479bd7;
                    }
                }
                .other{
                    background-color: #fff;
                    a{
                        color: #000;
                        font-weight: inherit;
                    }
                }
            }
            .content-list{
                .list{
                    a{
                        font-size: 14px;
                    }
                    p{
                        color: #479bd7;
                    }
                }
            }
        }
        .right{
            width: 80%;
            margin: 40px auto;
            .content-section{
                .img-text{
                    a{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        p{
                            color: #479bd7;
                            font-size: 14px;
                        }
                    }
                }
                .text{
                    left: 70px;
                }
                .border-first{
                    padding-top: 20px
                }
            }
        }
    }

    #document-list{
        width: 300px;
        margin: auto;
        .title{
            width: 100%;
            margin: auto;
            margin-bottom: 40px;
            h2{
                font-size: 15px;
                padding-left: 0;
                text-align: center;
            }
        }
        .row{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .coll{
                margin-bottom: 40px;
                width: 100%;
            }
        }
    }
    #infor-warning{
        .icon-text{
            width: 332px;
            span{
                font-size:13px;
            }
            .gray-text{
                font-size:13px;
            }
        }
    }
    #footer{
        .content{
            height: 725px;
            display: block;
            font-size: 12px;
            .left{
                width: 29%;
                margin-left: 10px;
            }
            .between{
                width: 30%;
                margin-left: 0px;
            }
            .right{
                img{
                    margin-left: 45px;;
                }
            }
        }
    }
    #sub-footer{
        .container{
            flex-wrap: wrap;
            width:100%;
            max-width: 760px;
            .copyright{
                height: 46px;
                width: 100%;
                margin-left: 10px;
                p{
                    font-size: 12px;
                }
            }
            .social{
                width: 100%;
                margin-right: 30px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}